<h1 align="center">All Articles</h1>
<div align="center">
  <%= will_paginate %>
</div>
<% if @articles.empty? %>
  <div align="center" style="padding-bottom:128px;">
    There doesn't seem to be any articles yet...
  </div>
<% else %>
  <%= render 'articles', obj: @articles %>
<% end %>
<div align="center">
  <%= will_paginate %>
</div>
