<div class="center jumbotron home-tall">
    <span class="white-text"><h1>datketh - AlphaBlog</h1></span>
    <br />
    <%= link_to "Sign up now!", "#", class: "btn btn-primary btn-lg" %>
    <br />
    <br />
    <br />
</div>
