#logo {
  float: left;
  font-size: 20;
  color: fff;
  text-transform: uppercase;
  font-weight: bold;
}

.center {
  text-align: center;
}

.home-tall {
  height: 768px;
}

.jumbotron span {
  color: white;
  text-shadow: 2px 2px #161616;
  font: 2em Impact, sans-serif;
}

.article-actions {
  margin-bottom: 20px;
}

footer {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  color: #777;
  magin-top: 40px;
}
