<div class="container">
  <footer class="footer">
    <small>
      Created by <a href="https://www.github.com/datketh/">Keith Austin</a> for
      the <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">The Complete Ruby on Rails Developer Course</a>
    </small>
  </footer>
</div>
